<h2>Your Information</h2>
<div>
    <input type="text" placeholder="Name" ng-model="fc.nameIn">
    <input type="text" placeholder="Phone Number" ng-model="fc.phoneIn">
    <input type="text" placeholder="Address" ng-model="fc.addressIn">
    <input type="text" placeholder="Email Address" ng-model="fc.emailIn">
    <input type="text" placeholder="Comments" ng-model="fc.commentIn">
    <input type="checkbox" ng-model="fc.humanIn" ng-required="fc.humanIn">
    <div ng-message="required">Check here before proceeding</div>
    <button ng-click="fc.info()">Submit</button>
</div>
<buton><a href="/senate">Back</a></buton>